<a href="https://colab.research.google.com/github/matiascabrejos/IA-Humai/blob/main/exercise2_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [17]:
dolar_df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/dolar_oficial_ambito.csv')

In [3]:
dolar_df

           fecha  compra  venta
0     05-08-2020   71.89  76.89
1     04-08-2020   71.69  76.69
2     03-08-2020   71.64  76.64
3     31-07-2020   71.39  76.39
4     30-07-2020   71.27  76.27
...          ...     ...    ...
1263  05-06-2015    8.98   9.03
1264  04-06-2015    8.97   9.02
1265  03-06-2015    8.97   9.02
1266  02-06-2015    8.97   9.02
1267  01-06-2015    8.96   9.01

[1268 rows x 3 columns]

In [18]:
dolar_df['Promedio'] = dolar_df.loc[:,['compra', 'venta']].mean(axis=1)

In [19]:
dolar_df

           fecha  compra  venta  Promedio
0     05-08-2020   71.89  76.89    74.390
1     04-08-2020   71.69  76.69    74.190
2     03-08-2020   71.64  76.64    74.140
3     31-07-2020   71.39  76.39    73.890
4     30-07-2020   71.27  76.27    73.770
...          ...     ...    ...       ...
1263  05-06-2015    8.98   9.03     9.005
1264  04-06-2015    8.97   9.02     8.995
1265  03-06-2015    8.97   9.02     8.995
1266  02-06-2015    8.97   9.02     8.995
1267  01-06-2015    8.96   9.01     8.985

[1268 rows x 4 columns]

In [21]:
dolar_df["fecha"] = pd.to_datetime(dolar_df["fecha"], dayfirst=True)

In [22]:
dolar_df = dolar_df.set_index("fecha")

In [23]:
dolar_df['AÃ±o'] = dolar_df.index.year
dolar_df['Mes'] = dolar_df.index.month

In [24]:
dolar_df

            compra  venta  Promedio   AÃ±o  Mes
fecha
2020-08-05   71.89  76.89    74.390  2020    8
2020-08-04   71.69  76.69    74.190  2020    8
2020-08-03   71.64  76.64    74.140  2020    8
2020-07-31   71.39  76.39    73.890  2020    7
2020-07-30   71.27  76.27    73.770  2020    7
...            ...    ...       ...   ...  ...
2015-06-05    8.98   9.03     9.005  2015    6
2015-06-04    8.97   9.02     8.995  2015    6
2015-06-03    8.97   9.02     8.995  2015    6
2015-06-02    8.97   9.02     8.995  2015    6
2015-06-01    8.96   9.01     8.985  2015    6

[1268 rows x 5 columns]